.build
.git
.github
infra
tests
*/target

# We use the statically-compiled parser cli in the docker builds, so we can't ignore it.
!parser/target/x86_64-unknown-linux-musl/release/parser

!network-tunnel-service/target/x86_64-unknown-linux-musl/release/network-tunnel-service
