# Ignore compiled binaries named "connector", but allow directories named "connector"  
# when they are part of the expected "cmd/connector" structure for multi-package connectors.  
connector
!*/cmd/connector

.docker-cache/*
!.docker-cache/.keep
/.build/
*/target
**/.DS_Store


# top-level directory where we put flow binaries downloaded from the latest flow release
/flow-bin/

# Python type-checkingr, virtual environment, and cached bytecode.
/.mypy_cache
.pytest_cache
.venv/
__pycache__
# Currently-active pyproject, which is overwritten by ./python/activate.sh
/poetry.lock
/pyproject.toml

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
