connector
.docker-cache/*
!.docker-cache/.keep
/.build/
/source-gcs/source-gcs
/source-hello-world/source-hello-world
/source-kinesis/source-kinesis
/source-s3/source-s3
*/target

# top-level directory where we put flow binaries downloaded from the latest flow release
/flow-bin/
