connector
.docker-cache/*
!.docker-cache/.keep
/.build/
/source-gcs/source-gcs
/source-hello-world/source-hello-world
/source-kinesis/source-kinesis
/source-s3/source-s3
*/target

# top-level directory where we put flow binaries downloaded from the latest flow release
/flow-bin/

# Python type-checkingr, virtual environment, and cached bytecode.
/.mypy_cache
/.venv
__pycache__
# Currently-active pyproject, which is overwritten by ./python/activate.sh
/poetry.lock
/pyproject.toml