services:
  sqlserver:
    image: 'mcr.microsoft.com/mssql/server:2022-latest'
    user: root
    platform: linux/amd64
    environment:
      SA_PASSWORD: '!Flow1234'
      ACCEPT_EULA: 'Y'
    volumes:
      - sqlserver_data:/var/opt/mssql/data
    networks:
      - flow-test
    healthcheck:
      test: "true"
      interval: 30s
    ports:
      - "1433:1433"

networks:
  flow-test:
    name: flow-test
    external: true

volumes:
  sqlserver_data: {}
