{
  "collections": {
    "tests/simple": {
       "schema": {
          "properties": {
           "id": { "type": "integer" },
           "canary": { "type": "string" }
          },
          "required": ["id", "canary"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/duplicated-keys": {
       "schema": {
          "properties": {
           "id": { "type": "integer" },
           "int": { "type": "integer", "reduce": {"strategy": "sum"} },
           "str": { "type": "string" }
          },
          "required": ["id"],
          "type": "object",
          "reduce": { "strategy": "merge" }
       },
       "key": ["/id"]
    },
    "tests/multiple-data-types": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "str_field": { "type": "string" },
           "float_field": { "type": "number" },
           "bool_field": {"type": "boolean"},
           "nullable_int": {"type": ["null", "integer"]},
           "array_int": {"type": "array", "items": {"type": "integer"}},
           "nested": {"type": "object", "required": ["id"], "properties": {"id": {"type": "string"}}}
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/formatted-strings": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "int_and_str": {"type": ["integer", "string"], "format": "integer"},
           "num_and_str": {"type": ["number", "string"], "format": "number"},
           "int_str": {"type": "string", "format": "integer"},
           "num_str": {"type": "string", "format": "number"}
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    }
  },

  "materializations": {
    "tests/${CONNECTOR}/materialize": {
      "endpoint": {
        "connector": {
          "image": "${CONNECTOR_IMAGE}",
          "config": ${CONNECTOR_CONFIG}
        }
      },
      "bindings": ${RESOURCES_CONFIG}
    }
  },

  "storageMappings": {
    "": {
      "stores": [
        { "provider": "S3", "bucket": "a-bucket" }
      ]
    }
  }
}