{
  "collections": {
    "${TEST_COLLECTION_SIMPLE}": {
       "schema": {
          "properties": {
           "id": { "type": "integer" },
           "canary": { "type": "string" }
          },
          "required": ["id", "canary"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "${TEST_COLLECTION_DUPLICATED_KEYS}": {
       "schema": {
          "properties": {
           "id": { "type": "integer" },
           "int": { "type": "integer", "reduce": {"strategy": "sum"} },
           "str": { "type": "string" }
          },
          "required": ["id"],
          "type": "object",
          "reduce": { "strategy": "merge" }
       },
       "key": ["/id"]
    },

    "${TEST_COLLECTION_MULTIPLE_DATATYPES}": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "str_field": { "type": "string" },
           "float_field": { "type": "number" },
           "bool_field": {"type": "boolean"},
           "nullable_int": {"type": ["null", "integer"]},
           "array_int": {"type": "array", "items": {"type": "integer"}},
           "nested": {"type": "object", "required": ["id"], "properties": {"id": {"type": "string"}}}
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    },

    "${TEST_COLLECTION_FORMATTED_STRINGS}": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "int_str": {"type": ["integer", "string"], "format": "integer"},
           "num_str": {"type": ["number", "string"], "format": "number"},
           "frac_str": {"type": ["fractional", "string"], "format": "fractional"}
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    }
  },

  "captures": {
    "${PUSH_CAPTURE_NAME}" : {
      "endpoint": { "ingest": {} },
      "bindings": [
        { "target": "${TEST_COLLECTION_SIMPLE}", "resource": { "name": "${TEST_COLLECTION_SIMPLE}" } },
        { "target": "${TEST_COLLECTION_DUPLICATED_KEYS}", "resource": { "name": "${TEST_COLLECTION_DUPLICATED_KEYS}" } },
        { "target": "${TEST_COLLECTION_MULTIPLE_DATATYPES}", "resource": { "name": "${TEST_COLLECTION_MULTIPLE_DATATYPES}" } },
        { "target": "${TEST_COLLECTION_FORMATTED_STRINGS}", "resource": { "name": "${TEST_COLLECTION_FORMATTED_STRINGS}" } },
      ]
    },
  },

  "materializations": {
    "tests/${CONNECTOR}/materialize": {
      "endpoint": {
        "flowSink": {
          "image": "${CONNECTOR_IMAGE}",
          "config": ${CONNECTOR_CONFIG}
        }
      },
      "bindings": ${RESOURCES_CONFIG}
    }
  },

  "storageMappings": {
    "": {
      "stores": [
        { "provider": "S3", "bucket": "a-bucket" }
      ]
    }
  }
}