{
  "collections": {
    "tests/simple": {
       "schema": {
          "properties": {
           "id": { "type": "integer" },
           "canary": { "type": "string" }
          },
          "required": ["id", "canary"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/duplicated-keys": {
       "schema": {
          "properties": {
           "id": { "type": "integer" },
           "int": { "type": "integer", "reduce": {"strategy": "sum"} },
           "str": { "type": "string" }
          },
          "required": ["id", "str"],
          "type": "object",
          "reduce": { "strategy": "merge" }
       },
       "key": ["/id"]
    },
    "tests/multiple-data-types": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "str_field": { "type": "string" },
           "float_field": { "type": "number" },
           "bool_field": {"type": "boolean"},
           "nullable_int": {"type": ["null", "integer"]},
           "array_int": {"type": "array", "items": {"type": "integer"}},
           "nested": {"type": "object", "required": ["id"], "properties": {"id": {"type": "string"}}},
           "multiple": {"type": ["array", "object", "string", "integer", "number", "boolean", "null"]},
           "binary_field": {"type": "string", "contentEncoding": "base64"}
          },
          "required": ["id", "str_field"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/formatted-strings": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "int_and_str": {"type": ["integer", "string"], "format": "integer"},
           "num_and_str": {"type": ["number", "string"], "format": "number"},
           "int_str": {"type": "string", "format": "integer"},
           "num_str": {"type": "string", "format": "number"},
           "datetime": {"type": "string", "format": "date-time"},
           "date": {"type": "string", "format": "date"},
           "time": {"type": "string", "format": "time"}
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/long-string": {
       "schema": {
       "properties": {
           "id": { "type": "string" },
           "str_field": { "type": "string" },
          },
          "required": ["id", "str_field"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/compound-key": {
      "schema": {
        "properties": {
          "yin": { "type": "string" },
          "yan": { "type": "string" },
          "num": { "type": "integer" }
        },
        "required": ["yin", "yan", "num"],
        "type": "object"
      },
      "key": ["/yin", "/yan"]
    },
    "tests/symbols": {
      "schema": {
        "properties": {
           "id": { "type": "string" },
          "testing (%s)": { "type": "string" }
        },
        "required": ["testing (%s)"],
        "type": "object"
      },
      "key": ["/testing (%s)"]
    },
    "tests/unsigned-bigint": {
       "schema": {
       "properties": {
           "id": { "type": "integer" },
           "unsigned_bigint": { "type": "integer", "maximum": 18446744073709551615 },
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/deletions": {
      "schema": {
        "properties": {
           "id": { "type": "integer" },
           "_meta": {
             "type": "object",
             "properties": {
                "op": {
                  "type": "string"
                }
             }
           }
        },
        "required": ["id"],
        "type": "object",

        "if": {
          "properties": {
            "_meta": {
              "properties": {
                "op": {
                  "const": "d"
                }
              }
            }
          }
        },
        "then": {
          "reduce": {
            "delete": true,
            "strategy": "lastWriteWins"
          }
        }
      },
      "key": ["/id"]
    },
    "tests/binary-key": {
       "schema": {
       "properties": {
           "id": {"type": "string", "contentEncoding": "base64"},
           "counter": { "type": "integer" }
          },
          "required": ["id"],
          "type": "object"
       },
       "key": ["/id"]
    },
    "tests/string-escaped-key": {
       "schema": {
       "properties": {
           "id": {"type": "string"},
           "counter": { "type": "integer", "reduce": { "strategy": "sum" } }
          },
          "required": ["id"],
          "type": "object",
          "reduce": { "strategy": "merge" }
       },
       "key": ["/id"]
    },
    "tests/underscore-column": {
       "schema": {
          "properties": {
            "_id": {"type": "integer"},
            "__some_field": { "type": "string" }
          },
          "required": ["_id", "__some_field"],
          "type": "object"
       },
       "key": ["/_id"]
    },
    "tests/all-key-types-part-one": {
      "schema": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "strintkey": {"type": "string", "format": "integer"},
          "strnumkey": {"type": "string", "format": "number"},
          "strint": {"type": "string", "format": "integer"},
          "strnum": {"type": "string", "format": "number"},
          "counter": {"type": "integer"}
        },
        "required": ["id", "strintkey", "strnumkey"]
      },
      "key": ["/id", "/strintkey", "/strnumkey"]
    },
    "tests/all-key-types-part-two": {
      "schema": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "timekey": {"type": "string", "format": "time"},
          "datekey": {"type": "string", "format": "date"},
          "date": {"type": "string", "format": "date"},
          "time": {"type": "string", "format": "time"},
          "counter": {"type": "integer"}
        },
        "required": ["id", "datekey", "timekey"]
      },
      "key": ["/id", "/datekey", "/timekey"]
    },
    "tests/all-key-types-part-three": {
      "schema": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "datetimekey": {"type": "string", "format": "date-time"},
          "uuidkey": {"type": "string", "format": "uuid"},
          "datetime": {"type": "string", "format": "date-time"},
          "uuid": {"type": "string", "format": "uuid"},
          "counter": {"type": "integer"}
        },
        "required": ["id", "datetimekey", "uuidkey"]
      },
      "key": ["/id", "/datetimekey", "/uuidkey"]
    },
    "tests/fields-with-projections": {
      "schema": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "original_field": {"type": "string"},
          "another_field": {"type": "string"}
        },
        "required": ["id"]
      },
      "key": ["/id"],
      "projections": {
        "projected_field": "/original_field",
        "projected_another": "/another_field"
      }
    }
  },

  "materializations": {
    "tests/${CONNECTOR}/materialize": {
      "endpoint": {
        "connector": {
          "image": "${CONNECTOR_IMAGE}",
          "config": ${CONNECTOR_CONFIG}
        }
      },
      "bindings": ${RESOURCES_CONFIG}
    }
  }
}
