conversion_window_days: 14
credentials:
    client_id_sops: ENC[AES256_GCM,data:ZsF2Lbd7Qs5bRUhQmZGZR3ZCs5s/z0+yM9g2+VSv/WM+xQfg3l9UoB3jI2p2f5FLjfbBqf/u9L2hcDWjXF4qb03B6hu6AaVY,iv:YJ/LP4svB3gZNiSrm9mfXwXolSaPLssAWTSXt4KSRy4=,tag:VG7gHrvGR3dPB+bAhPo0WQ==,type:str]
    client_secret_sops: ENC[AES256_GCM,data:U5aP0B0voAiSZ2JNgoSn3jTKwKE3XFyuFw13+1iDNalYl7A=,iv:Y//VY6aSCPjhcgd8bLjKscReBjlPxN21yAA5yUsRpcg=,tag:Rv4epw5yFRZa9PPhrQW0xw==,type:str]
    developer_token_sops: ENC[AES256_GCM,data:s5gH/Pjazxh6VwsDF035qhXeNN6qIQ==,iv:ne8jYwF91t8yTgEqpTgwxn4l94Xx4XkiIpGTZyStsvU=,tag:mJ6whBzLoGJidgeoMl+knA==,type:str]
    refresh_token_sops: ENC[AES256_GCM,data:bNgS+zsZZnTrpn3zbc1V/eRD/WhlUKr7SN42FC3jx5C031SdMR5qtE2MapYRw6Y1f2Kojzj4FZh10b2oRMY8MovrTRx7eNILfNFsWVZwUJe3D0L/ETk1SCMU/BfvOFhfNW3sqcS4AA==,iv:dIT7FRHpn0zcausNIxQzguQO7RC4Rcvu9ycBMOhzOeU=,tag:EuC/r3mrEHqjPTcWDj5Xpw==,type:str]
customer_id: "6458773721"
start_date: "2022-01-01"
custom_queries:
    - query: SELECT segments.ad_destination_type, segments.ad_network_type, segments.day_of_week, customer.auto_tagging_enabled, customer.id, metrics.conversions, campaign.start_date FROM campaign
      primary_key: customer.id, segments.date
      table_name: my_custom_query
sops:
    gcp_kms:
        - resource_id: projects/estuary-theatre/locations/us-central1/keyRings/connector-keyring/cryptoKeys/connector-repository
          created_at: "2024-02-01T15:11:34Z"
          enc: CiQAdmEdwpewZLDvu80ySB31XOaRpBuQ5twOS4zpydRmn3imRsQSSQCVvC1zm2KgUypWm0F//eD1yeScHf7y/TMYBC5tqXHiK6Qy4eb7deyHVe5dO5rYenWveJzy7enCAhxAxk9N7RHXUjK89lsgn6E=
    lastmodified: "2026-01-14T13:58:33Z"
    mac: ENC[AES256_GCM,data:GiT6SFgCK/IW110/M/AUcDW5VQLW6Q09EaBbsDby5Jj4NHPMt7YdWxl/0MpqwVkS7BZxPUIO/y2GUcV/TmqIY7rFqa4Ej8FPyo+l/pn3PaRJULY3hgkrHOYjlPr63dR32uc/s51NcNY5W2JTSkihXpx22xBWrmIu9a5K+Nbh6cs=,iv:CHXNv1niaix6YYdNfFMP3VGFV+0uOKMeAsQlifOQ3ao=,tag:u6vD+lxBiXH7D4kk8/IKSQ==,type:str]
    encrypted_suffix: _sops
    version: 3.10.2
