[tool.poetry]
name = "iceberg_ctl"
version = "0.1.0"
description = ""
authors = ["Will Baker <wbaker@gmail.com>"]

[tool.poetry.dependencies]
pydantic = "^2"
python = "^3.11"
pyiceberg = {extras = ["glue", "pyarrow", "s3fs"], version = "^0.7.0"}
click = "^8.1.7"
setuptools = "^78.1.1"
asyncio = "^3.4.3"
urllib3 = "^2.2.4"
aiohttp = "^3.13.3"

[tool.poetry.group.dev.dependencies]
debugpy = "^1.8.0"
mypy = "^1.8.0"
pytest = "^7.4.3"
pytest-insta = "^0.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
