name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_rust_releases:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl

      - name: Install MUSL
        run: sudo apt-get install -y musl-tools

      - name: Cargo Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            parser/target/
            materialize-elasticsearch/schemabuilder/target/
            ssh-forwarding-service/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Test Rust Apps
        run: |
          cargo test --manifest-path=parser/Cargo.toml --locked
          cargo test --manifest-path=materialize-elasticsearch/schemabuilder/Cargo.toml --locked
          cargo test --manifest-path=ssh-forwarding-service/Cargo.toml --locked

      - name: Build Rust Apps
        run: |
          cargo build --manifest-path=ssh-forwarding-service/Cargo.toml --locked --release --target=x86_64-unknown-linux-musl
          cargo build --manifest-path=parser/Cargo.toml --locked --release --target=x86_64-unknown-linux-musl
          cargo build --manifest-path=materialize-elasticsearch/schemabuilder/Cargo.toml --locked --release --target=x86_64-unknown-linux-musl

      - name: Upload Rust Apps
        uses: actions/upload-artifact@v2
        with:
          name: rust_binary
          path: |
            parser/target/x86_64-unknown-linux-musl/release/parser
            materialize-elasticsearch/schemabuilder/target/x86_64-unknown-linux-musl/release/schema-builder
            ssh-forwarding-service/target/x86_64-unknown-linux-musl/release/ssh-forwarding-service

  build_connectors:
    needs: build_rust_releases
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        connector:
          - source-gcs
          - source-hello-world
          - source-kafka
          - source-kinesis
          - source-postgres
          - source-s3
          - materialize-bigquery
          - materialize-elasticsearch
          - materialize-postgres
          - materialize-rockset
          - materialize-s3-parquet
          - materialize-snowflake
          - materialize-webhook

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare
        id: prep
        run: |
          TAG=$(echo $GITHUB_SHA | head -c7)
          echo ::set-output name=tag::${TAG}

      - uses: actions/download-artifact@v2
        with:
          name: rust_binary

      # Downloaded artifacts lose their prior permission settings
      - name: Adjust rust binary permissions
        run: |
          chmod +x \
          parser/target/x86_64-unknown-linux-musl/release/parser \
          materialize-elasticsearch/schemabuilder/target/x86_64-unknown-linux-musl/release/schema-builder \
          ssh-forwarding-service/target/x86_64-unknown-linux-musl/release/ssh-forwarding-service

      - name: Install kafkactl
        if: matrix.connector == 'source-kafka'
        env:
          version: 1.20.0
          checksum: ff285ce7eefa956234e65f9ff98160c2c365973ca598187cee81da1377b139d1
        run: |
          curl -L -o "kafkactl_${version}_linux_amd64.deb" "https://github.com/deviceinsight/kafkactl/releases/download/v${version}/kafkactl_${version}_linux_amd64.deb" && \
          echo "$checksum kafkactl_${version}_linux_amd64.deb" | sha256sum --check && \
          sudo dpkg -i "kafkactl_${version}_linux_amd64.deb" && \
          rm "kafkactl_${version}_linux_amd64.deb"

      - name: Set up Cloud SDK
        if: matrix.connector == 'source-gcs'
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true

      - name: Configure AWS credentials from Test account
        if: matrix.connector == 'source-kinesis' || matrix.connector == 'source-s3'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Start Test PostgreSQL Instance
        if: matrix.connector == 'source-postgres'
        run: |
          docker-compose --file source-postgres/docker-compose.yaml up --detach postgres

      - name: Start Open SSH server
        if: matrix.connector == 'source-postgres'
        run: |
          cp -r ssh-forwarding-service/test_sshd_configs /tmp/test_sshd_configs &&
          docker-compose --file /tmp/test_sshd_configs/docker-compose.yaml up --detach openssh-server

      - name: Login to GitHub package docker registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
            docker login --username ${{ github.actor }} --password-stdin ghcr.io

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: |
            network=host

      - name: Build ${{ matrix.connector }} Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.connector }}/Dockerfile
          load: true
          tags: ghcr.io/estuary/${{ matrix.connector }}:test
          secrets: |
            "rockset_api_key=${{ secrets.ROCKSET_API_KEY }}"

      - name: Start Dockerized test infrastructure
        if: matrix.connector == 'source-kafka'
        run: |
          docker-compose --file infra/docker-compose.yaml up --detach zookeeper
          docker-compose --file infra/docker-compose.yaml up --detach kafka

      - name: Source connector ${{ matrix.connector }} integration tests
        if: |
          contains('
            source-gcs
            source-kafka
            source-kinesis
            source-postgres
            source-s3
            ', matrix.connector)
        env:
          GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEFAULT_AWS_REGION: ${{ secrets.DEFAULT_AWS_REGION }}
          AWS_DEFAULT_OUTPUT: json
          ROCKSET_API_KEY: ${{ secrets.ROCKSET_API_KEY }}
          # Compare to: https://www.postgresql.org/docs/current/libpq-envars.html
          PGDATABASE: flow
          PGHOST: localhost
          PGPASSWORD: flow
          PGPORT: 5432
          PGUSER: flow

        run: CONNECTOR=${{ matrix.connector }} VERSION=test ./tests/run.sh;

      - name: Source connector ${{ matrix.connector }} integration tests with SSH forwarding
        if: |
          contains('
            source-postgres
            ', matrix.connector)
        env:
          GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEFAULT_AWS_REGION: ${{ secrets.DEFAULT_AWS_REGION }}
          AWS_DEFAULT_OUTPUT: json

          # Compare to: https://www.postgresql.org/docs/current/libpq-envars.html
          PGDATABASE: flow
          PGHOST: localhost
          PGPASSWORD: flow
          PGPORT: 5432
          PGUSER: flow

          # Based on configs in ssh-forwarding-service/test_sshd_configs/docker-compose.yaml
          SSHENDPOINT: ssh://localhost:2222
          SSHUSER: flowssh
          PRIVATE_KEY_FILE_PATH: ssh-forwarding-service/test_sshd_configs/keys/id_rsa
          LOCALPORT: 9876
          SSH_FORWARDING_ENABLED: true

        run: CONNECTOR=${{ matrix.connector }} VERSION=test ./tests/run.sh;

      - name: Materialization connector ${{ matrix.connector }} integration tests
        if: |
          contains('
            materialize-elasticsearch
            materialize-s3-parquet
            ', matrix.connector)
        run: CONNECTOR=${{ matrix.connector }} VERSION=test tests/materialize/run.sh;

      - name: Push ${{ matrix.connector }} image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.connector }}/Dockerfile
          push: true
          tags: ghcr.io/estuary/${{ matrix.connector }}:${{ steps.prep.outputs.tag }}

      - name: Push ${{ matrix.connector }} image with 'dev' tag
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.connector }}/Dockerfile
          push: true # See 'if' above
          tags: ghcr.io/estuary/${{ matrix.connector }}:dev
