name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    services:
      localstack:
        # Provides local ephemeral versions of AWS services to use during tests.
        image: localstack/localstack
        env:
          # Only use a limited number of services in order to speed up the startup time.
          SERVICES: "kinesis,s3"
          # Randomly return rate limiting errors from the kinesis api to exercise those code paths.
          KINESIS_ERROR_PROBABILITY: "0.4"
        ports:
          - 4566:4566
          - 4571:4571
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path parser/Cargo.toml
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: --force --path parser
      - run: pushd source-kinesis && go test -tags kinesistest -v ./...
      - run: pushd source-s3 && go test -v ./...
